name: publish
on:
  release:
    types: [published, edited]
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: publish
      run: dotnet run build.cs --target=publish --packageVersion=${{ github.ref_name }} 
