name: publish
on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6

    - name: publish
      run: dotnet run build.cs --target=publish --packageVersion=${{ github.ref_name }} --NUGET_API_KEY=${{ vars.NUGET_API_KEY }}
